body, html {
    margin: 0;
    padding: 0;
    font-family: "Lexend", sans-serif;
    background-color: #023859 !important;
    color: #ffffff;
    scroll-behavior: smooth;
}



/* ========================== NAVIGATION BAR ========================== */
.navbar {
    display: flex;
    flex-direction: column;
    height: 13vh;                
    background-color: #011C40;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 1;
}

.navbar h1 {
    font-size: 32px;              
    margin: 0;
}

.navbar .left {
    text-align: left;
    margin-bottom: 25px;
}

.navbar .left a {
    text-decoration: none;
    color: #ffffff;
    opacity: 100%;
}

.navbar .right {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 35px;    
}

.navbar .right p {
    margin: 0;
}

.navbar a {
    text-decoration: none;
    color: #ffffff;
    opacity: 70%;
    font-size: 16px;              
    transition: opacity 0.3s ease;
}

.navbar a.active {
    opacity: 100%;
}

/* ========================== FOOTER ========================== */
footer {
    height: 80px;
    background-color: #011C40;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;     
    scroll-margin-top: auto;    
    font-weight: 700;     
    letter-spacing: 1px;
}

/* ======================= Scroll offsets ======================= */
.hero-section {
    scroll-margin-top: 120px;
}

.about-me {
    scroll-margin-top: 140px;
}

.skills {
    scroll-margin-top: 30px;
}

.projects {
    scroll-margin-top: 140px;
}

.contact {
    scroll-margin-top: 40px;
}

.experiences {
    scroll-margin-top: 170px;
}